div p {
    margin: 0%;
}



.sky-blue-01 {
    background-color: #0000b9;
}



.sky-blue-02 {
    background-color: #0e0ed6;
}



.sky-blue-03 {
    background-color: #0d0dff;
}



.sky-blue-04 {
    background-color: #3131ff;
}



.sky-blue-05 {
    background-color: #1371ff;
}



.sky-blue-06 {
    background-color: #589bff;
}



.neutral {
    background-color: #2cd42c;
}



.pink-01 {
    background-color: #ffa2a2;
}



.pink-02 {
    background-color: #ff8282;
}



.pink-03 {
    background-color: #ff3e3e;
}



.pink-04 {
    background-color: #ff2020;
}



.pink-05 {
    background-color: #ff0000;
}



#head-one {
    background-color: #ffffff;
}



body {
    background-color: #c5c4c4;
}